@using DataDashboard.Models
@model IEnumerable<ClientViewModel>
@{
	ViewData["Title"] = "Connected Clients";
    
}
@inject DataDashboard.BLL.Services.ClientService Clients


<table class="table table-borderless table-wrapper">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last IP</th>
            <th>Cpu Id</th>

        </tr>
    </thead>
    <tbody class="accordion">
        @foreach (var item in Model)
        {
            <tr class="accordion-item" data-bs-toggle="collapse" data-bs-target="#A_@item.Id" aria-expanded="true">
                @* <div class="accordion-header accordion-button" data-bs-toggle="collapse" data-bs-target="#A_@item.Id" aria-expanded="true" aria-controls="collapseOne"></div> *@
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.MAC</td>
                <td>@item.CpuId</td>
            </tr>
            <tr id="A_@item.Id" class="collapse overflow-x-auto">
                <td class="accordion-body " colspan="4">
                    <h4 class="">Client information placeholder</h4> 
                </td>
            </tr>
        }
    </tbody>

</table>


