@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-5">This is Command and Control Server prototype.</h1>
    <p>Not much to do here without logging in, so go ahead <a asp-controller="Account" asp-action="Login">here</a>.</p>
</div>
